{% extends "base.html" %}
{% load static %}

{% block title %} Home {% endblock %}

{% block body %} 

<div class="container-fluid  px-0">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/slider1.jpg" class="d-block w-100" alt="..." style="wider:100%; height:600px">
            <div class="carousel-caption d-none d-md-block">
                <h5>Welcome to Ice Cream Paradise!</h5>
                <p>Your one-stop destination for the creamiest, dreamiest, and most delicious ice creams. Dive into a world of flavors that will melt your heart!</p>
                
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/slider2.jpg" class="d-block w-100" alt="..." style="wider:100%; height:600px">
            <div class="carousel-caption d-none d-md-block">
                <h5>Mango Magic</h5>
                <p>Experience the tropical bliss with our mango ice cream, made with real Alphonso mangoes.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/slider3.jpg" class="d-block w-100" alt="..." style="wider:100%; height:600px">
            <div class="carousel-caption d-none d-md-block">
                <h5>Minty Fresh</h5>
                <p>Cool down with our refreshing mint ice cream, perfectly balanced with a hint of chocolate chips.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="container my-3">
        <h1 class="my-3 text-center">Select From Our Range Of Ice Creams</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/1.jpg" class="d-block w-100" alt="..." style="wider:400px; height:300px">
              <div class="card-body">
                <p class="card-text">Indulge in the classic, rich, and creamy flavor of vanilla ice cream, perfect for any occasion.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>
      
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/2.jpg" class="d-block w-100" alt="..." style="wider:400px; height:300px">
              <div class="card-body">
                <p class="card-text">Dive into the decadent and rich chocolate flavor that will melt your heart.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>
      
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/3.jpg" class="d-block w-100" alt="..." style="wider:400px; height:300px">
              <div class="card-body">
                <p class="card-text">Savor the sweet and tangy delight of fresh strawberry ice cream.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>
      
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/4.jpg" class="d-block w-100" alt="..." style="wider:400px; height:300px">
              <div class="card-body">
                <p class="card-text">Refresh your senses with the cool and breezy flavor of mint ice cream.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>
      
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/1.jpg" class="d-block w-100" alt="..." style="wider:400px; height:300px">
              <div class="card-body">
                <p class="card-text">Enjoy the nutty and caramelized delight of butterscotch ice cream.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>
      
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/1.jpg" class="d-block w-100" alt="..." style="wider:400px; height:300px">
              <div class="card-body">
                <p class="card-text">Relish the tropical and fruity goodness of mango ice cream.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>
      
        </div>
      </div>
      

 {% endblock %}