{% extends "base.html" %}

{% block title %} Contect Us {% endblock %}

{% block body %}
<div class="container-fluid px-0" >
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/contact.jpg" class="d-block w-100" alt="..." style="height:500px; width:100%;">
            </div>
           
        </div>
    </div>
</div>

<div class="container my-4" style="margin-top: 20px;">
    <h1 class="text-center">Contact Us</h1>
    <form class="mx-auto" style="max-width: 500px; margin-top: 20px;" method="post"  >
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label"> Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{contect.name}}">
          </div>
          
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" value="{{contect.email}}">
          </div>

          <div class="mb-3">
            <label for="phone" class="form-label">Mobile Number</label>
            <input type="phone" class="form-control" id="phone" name="phone" value="{{contect.phone}}">
          </div>
          <div class="mb-3">
            <label for="desc" class="form-label">Message</label>
            <textarea class="form-control" id="desc" name="desc" rows="3">{{contect.desc}}</textarea>
          </div>
         
          
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock %}